<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008228895871-7084kjetd21e88jv3lsqdgmgbr34bb4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008228895871-7084kjetd21e88jv3lsqdgmgbr34bb4p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1008228895871-n7m102bnh1888ii8360el00m84m9p5og.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAnd_OlDSg9bKjZLg1kiAFpqAHeVs5VBH4</string>
	<key>GCM_SENDER_ID</key>
	<string>1008228895871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myapp.warrantybell</string>
	<key>PROJECT_ID</key>
	<string>expiry-6c8fd</string>
	<key>STORAGE_BUCKET</key>
	<string>expiry-6c8fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008228895871:ios:8c76a434533a8aa3cf834a</string>
</dict>
</plist>